apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
  - name: biochecknet-api-config
    envs:
      - api.env
      - shared.env
  - name: worker-config
    envs:
      - worker.env
      - shared.env
  - name: mongo-config
    envs:
      - mongo.env
      - shared.env
