.env
__pycache__
*.pyc
*.pyo
*.pyd
*.sh
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
tmp
commit.sh
kustomize
scripts
BASE_VERSION.txt
README.md
*.yaml
unused.txt
model-examples
.gitignore
.idea
tests