assets/dev/config/.env_dev
bio_check/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
tmp
commit.sh
kustomize
.BASE_VERSION
README.md
*.yaml
unused.txt
# model-examples
.gitignore
.idea
# bio_check/api
# bio_check/worker
!enter.sh
!add_deps.sh
bio_check/.env
worker/shared_worker.py
.env_dev
tests.ipynb
__pycache__
__pycache__/
api/__pycache__
worker/__pycache__
test.ipynb
worker/.composition
worker/.worker_STABLE
*.egg-info