assets/.env_dev
bio_check/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
tmp
commit.sh
kustomize
BASE_VERSION.txt
README.md
*.yaml
unused.txt
model-examples
.gitignore
.idea
tests
# bio_check/api
# bio_check/worker
!enter.sh
!add_deps.sh
bio_check/.env
tests.py
worker/shared.py
.env_dev
