release_env
commit.sh
.idea/
.notes
env/
__pycache__/
*.pyc
*.log
worker/handlers/__pycache__/
venv
smoldyn-2.73-mac.tgz.1
*.egg-info/
assets/dev/.env_dev
assets/.bio-check.json
assets/.biosimulations-prodbucket.json
assets/.biosimulations.json
bucket.sh
.env_dev
NOTES
scratch.ipynb
test.ipynb
.ipynb_checkpoints/
