release_env
commit.sh
.idea/
.notes
env/
__pycache__/
*.pyc
*.log
worker/handlers/__pycache__/
venv
smoldyn-2.73-mac.tgz.1
*.egg-info/
assets/.env_dev
.bio-check.json
bucket.sh
.env_dev
NOTES
scratch.ipynb