# This project configuration should relate only to the high level notebook api (as primary deps).
[tool.poetry]
name = "bio-check"
version = "1.0.2"
description = "Simulation Verification Service and API"
authors = ["Alex Patrie <alexanderpatrie@gmail.com>"]
readme = "README.md"
packages = [{include = "bio_check"}]

[tool.poetry.dependencies]
python = ">=3.9"
requests-toolbelt = "^1.0.0"
seaborn = "^0.13.2"

[tool.poetry.group.dev.dependencies]
fastapi = "^0.111.1"
python-multipart = "^0.0.9"
pydantic-settings = "^2.3.4"
pydantic = "^2.8.2"
python-dotenv = "^1.0.1"
uvicorn = "^0.30.1"
tensorstore = "^0.1.63"
aiofiles = "^24.1.0"
aiobotocore = "^2.13.1"
pyyaml = "^6.0.1"
httpx = "^0.27.0"
pymongo = {version = "^4.8.0", extras = ["srv"]}
biosimulators-utils = {version = "^0.1.187", extras = ["logging"]}
biosimulators-amici = "^0.1.24"
biosimulators-copasi = "^0.1.35"
biosimulators-tellurium = "^0.1.42"
google-cloud-storage = "^2.17.0"
toml = "^0.10.2"

[tool.poetry.extras]
dev = ["api", "worker"]

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "--ignore=setup.py"
python_files = "*.py"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
