../assets/.env
__pycache__/
__pycache__
bio_check/__pycache__
*.pyc
*.pyo
*.pyd
*.sh
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
tmp
commit.sh
kustomize
scripts
.BASE_VERSION
README.md
*.yaml
unused.txt
model-examples
.gitignore
.idea
tests.py
bio_check/api
bio_check/worker
!enter.sh
bio_check/.env