# create kustimization.yaml file
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

images:
- name: ghcr.io/biosimulators/bio-compose-server-api
  newTag: 0.0.1
- name: ghcr.io/biosimulators/bio-compose-server-worker
  newTag: 0.0.1
- name: mongo
  newTag: 8.0-rc

replicas:
- count: 1
  name: biochecknet-api
- count: 1
  name: worker
- count: 1
  name: mongodb

resources:
- api-secrets.yaml
- mongodb-pvc.yaml
- secret-ghcr.yaml
- api-certificate.yaml
- selfsigned-issuer.yaml
- bio-check-ingress.yaml
- ../../config/dev
- ../../base

